div.total{
margin-left: 5%;
margin-right: 5%;	

}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background: url("https://freekvdweij.github.io/Interactieontwerp/paris.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hit-the-floor {
margin-left: 630px;
color: #fff;
text-align: center;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.naam{	
font-size: 6em;
font-weight: bold;
margin-top: 100px;
}

.content{
    border-style: solid;
    background-color: rgba(255, 255, 255, .2);
    border-width: 0px;
    padding: 5px;
}
.subtitel{
	font-size: 2.5em;

}
/*NAVIGATION BAR*/
.nav_wrapper{
    width:960px;
    margin: 0;
    text-align: left;
    /*left: 0;*/
    margin-left: -139px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    position: absolute;
    padding-left: 0px;
}

.nav li{
    padding: 10px;
}



.nav ul li{
    display: inline-block;
}

.nav li a:hover{
    color: black;
}

.nav ul li a, visited{
    color: white;
    display: block;
    padding 10px;
    text-decoration: none;
}

.nav ul li:hover ul{
    display: block;

}

.nav ul ul{
    display: none;
    position: absolute;
}

.nav ul ul li {
    display: block;
}

.nav div{
    font-size: 28px;
}
